@import '/src/app/flowers/flowers.component.scss';
body {
    background: linear-gradient(to top, #00d4ff, #000); 
//    background-color:  linear-gradient(to top, #00d4ff, #000);
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}